#TPL__Profil {
    height: 100%;
}

.DS__Path {
    padding: 65px 25px;
}

.DS__Path ul {
    margin: 0;
    padding: 0 0 0 40px;
    position: relative;
}


.DS__Path_Item {
    display: block;
    list-style: none;
    text-align: left;
    padding: 35px 0 35px 40px;
    position: relative;
}

.DS__Path_Item::after {
    content: '';
    display: block;
    width: 0;
    height: 100%;
    border-right: 5px solid var(--theme-color);
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10;

    transition: border-color var(--theme-transition-duration) var(--theme-transition-function);
}

.DS__Path_Item.--out-of-scope::after {
    border-right-style: dashed;
}


.DS__Path_Item * {
    margin: 0;
    white-space: nowrap;
}

.DS__Path_Item a {
    display: block;
    position: relative;
    z-index: 100;

    transform-origin: 100% 50%;
    animation: 0.75s ease-out var(--delay) 1 normal both paused DS__Appear;
}

.--show .DS__Path_Item a {
    animation-play-state: running;
}

.DS__Path_Item h2 {
    position: relative;

    transform-origin: -22.5px 50%;
    transition: transform 0.25s ease;
}

.DS__Path_Item h2::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid var(--theme-color);
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    background-color: var(--theme-bg-color);
    box-shadow: 0 -5px 0 0 var(--theme-bg-color);

    transition: background-color var(--theme-transition-duration) var(--theme-transition-function),
        border-color var(--theme-transition-duration) var(--theme-transition-function),
        box-shadow var(--theme-transition-duration) var(--theme-transition-function);
}

.DS__Path_Item:hover h2 {
    transform: scale(1.2);
}


.DS__Path_Circle {
    position: absolute;
    height: 35px;
    width: 65px;
    bottom: 100%;
    left: -5px;
    list-style: none;
    overflow: hidden;
}

.DS__Path_Circle div {
    margin-top: 0;
    height: 65px;
    width: 65px;
    border: 5px solid var(--theme-color);
    border-radius: 50%;

    transition: border-color var(--theme-transition-duration) var(--theme-transition-function);
}


.DS__Path .DS__Path_Left {
    border-right: 5px solid var(--theme-color);
    padding: 0 40px 0 0;
    
    transition: border-color var(--theme-transition-duration) var(--theme-transition-function);
}


.DS__Path_Left .DS__Path_Item {
    text-align: right;
    padding: 35px 40px 35px 0;
}

.DS__Path_Left .DS__Path_Item::after {
    right: 15px;
    left: auto;
}

.DS__Path_Left a {
    transform-origin: 0 50%;
}

.DS__Path_Left h2 {
    transform-origin: calc(100% + 22.5px) 50%;
}

.DS__Path_Left h2::after {
    left: auto;
    right: -40px;
}

.DS__Path_Left .DS__Path_Circle {
    bottom: auto;
    top: 100%;
    left: auto;
    right: -5px;
}

.DS__Path_Left .DS__Path_Circle div {
    margin-top: -35px;
}

@media screen and (max-width: 1280px) {
    .DS__Path {
        overflow: hidden;
    }
}


@media screen and (max-width: 720px) {

    #TPL__Profil .--phone-show {
        display: block !important;
    }

    #TPL__Profil .--phone-hide {
        display: none !important;
    }

    #TPL__Profil .DS__Flex.--phone {
        display: block;
    }

    .DS__Path {
        text-align: center;
    }

    .DS__Path ul {
        display: inline-block;
        padding: 0;
        font-size: 14px;
    }
}