:root {
	--black: #333;
	--grey: #666;
}

*{
	box-sizing: border-box;
}

html,
body{ 
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Segoe UI;
	color: var(--black);
}

.ts__area{
	height: 100%;
	display: flex;
}

.ts__text{
	margin: auto;
	text-align: center;
	z-index: 500;
	padding: 25px;
}

.ts__text h1{
	font-size: 2rem;
	margin: 0;
}

.ts__text p{
	margin: 2rem 0;
}

.ts__text a{
	display: inline-block;
	padding: 10px 25px;
	border: 1px solid var(--black);
	border-radius: 40px;
	background-color: transparent;
	color: var(--black);
	text-decoration: none;
	transition: color 0.25s ease, background-color 0.25s ease;
}

.ts__text a:hover{
	color: #fff;
	background-color: var(--black);
}

.ts__text em{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: var(--grey);
}

.ts__circle,
.ts__touch{
	position: fixed;
	border: 1px solid var(--black);
	transform-origin: 50% 50%;
	border-radius: 50%;
	z-index: 100;
}

.ts__circle{
	z-index: 50;
	overflow: hidden;
}

.ts__circle::after{
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: -500px;
	bottom: -500px;
	left: 50%;
	background-color: var(--black);
	width: 1px;
}